<!--
  Generated template for the ComicDetails component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<h1>{{comic?.title}}</h1>

<ion-card>
  <ion-slides>
    <ion-slide *ngFor="let image of comic?.images">
      <img src="{{image.path}}.{{image.extension}}"/>
    </ion-slide>
  </ion-slides>
</ion-card>

<ion-card>
  <ion-card-header>
    Description
  </ion-card-header>
  <ion-card-content *ngIf="!isDescriptionEmpty">
    <p>
      {{comic?.description}}
    </p>
  </ion-card-content>

  <ion-item *ngIf="isDescriptionEmpty">
    <span><ion-icon name="warning"></ion-icon> Empty</span>
  </ion-item>

</ion-card>

<ion-card>
  <ion-card-header>
    Characters
  </ion-card-header>
  <ion-list *ngIf="!isCharacterEmpty">
    <ion-item *ngFor="let character of characters">
      <ion-avatar item-left="">
        <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}">
      </ion-avatar>
      <h2>{{character.name}}</h2>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="isCharacterEmpty">
    <span><ion-icon name="warning"></ion-icon> Empty</span>
  </ion-item>

</ion-card>
