<ion-header>
  <ion-navbar>
    <ion-title>Marvel Comics</ion-title>
    <ion-list>

      <ion-searchbar (ionInput)="inputSearch$.next($event)" placeholder="Search your favorite comic..."></ion-searchbar>

      <ion-item>
        <ion-icon name="calendar" item-left></ion-icon>
        <ion-label>Search by Year...</ion-label>
        <ion-datetime displayFormat="YYYY" [(ngModel)]="startYear"></ion-datetime>

        <button ion-button icon-only item-right clear color="dark" (click)="clearYear$.next()" *ngIf="startYear">
          <ion-icon name="close"></ion-icon>
        </button>

      </ion-item>
    </ion-list>

  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="mv-center" *ngIf="isLoading$ | async">
    <ion-spinner></ion-spinner>
  </div>

  <div class="mv-center" *ngIf="notFound$ | async">
    <h1><ion-icon name="search"></ion-icon> Not found</h1>
  </div>

  <comic-list [comics]="comics$ | async"></comic-list>

  <ion-infinite-scroll (ionInfinite)="infiniteScrolling$.next($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
