<!--
  Generated template for the ComicItem component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-card>
  <div style="position: relative">
    <img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}">
    <ion-fab right="" top="">
      <button ion-fab color="light">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-fab>
    <ion-item>
      <ion-icon name="book" item-left="" large=""></ion-icon>
      <h2>{{comic.title}}</h2>
      <p>issue number #{{comic.issueNumber}}</p>
      <p>sale on {{saleDate}}</p>
    </ion-item>
  </div>
</ion-card>
